
body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#imagepgframe { 
    width: 100%;
    height: 100%;
    position: absolute;
	padding: 0;
	margin: 0;
	top: 0;
	overflow-y:hidden;
}


#wrap1{ 
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;
	left: 0;
    visibility: hidden;
    border: 0;
}

#wrap2{ 
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 20;
    padding: 0;
    margin: 0;
    visibility: hidden;
    border: 0;
    
}

#wrap3{ 
    width: 100%;
    position: absolute;
    top: 0; 
    left: 0;
    bottom: 20;
    visibility: hidden;
    padding: 0;
    margin: 0;
    border: 0;
   
}

