
 .ui-autocomplete {
  max-height: 300px;
  overflow-y: auto;
/* prevent horizontal scrollbar */
  overflow-x: hidden;
/* add padding to account for vertical scrollbar */
  padding-right: 20px;
} 

.ui-widget-header,.ui-state-default, ui-button{
   background:#99ccff;
   border: 1px solid #b9cd6d;
   color: #333333;
   font-weight: bold;
}

body {
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    border: 0;
}

#imagepgframe { 
    width: 100%;
    height: 100%;
    position: absolute;
	padding: 0px;
	margin: 0px;
	top: 0px;
	overflow-y:hidden;
}


#wrap1{ 
    position: fixed;
    width: 100%;
    top: 0px ;
    padding: 0px;
    margin: 0px;
	left: 0px;
    visibility: hidden;
    border: 0px;
	color: #333333;
	background:#99ccff;
	font-weight:bold;
	font-style:italic;
    font-family: ‘Times New Roman’, Times, serif;
}

#wrap2{ 
    width: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
    bottom: 20px;
    padding: 0px;
    margin: 0px;
    visibility: hidden;
    border: 0px;
    
}

#wrap3{ 
    width: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
    bottom: 20px;
    visibility: hidden;
    padding: 0px;
    margin: 0px;
    border: 0px;
   
}

